# ignoring a lot of file types and directories to not duplicate the original Iosevka repository
*.mjs
*.ptl
*.svg
*.json
*.DS_Store

/.build
/changes
/doc
/font-src
/images
/node_modules
/packages
/params
/sample-text
/tools
/utility

build-plans.toml
CHANGELOG.md
iosevka@27.3.5
private-build-plans.sample.toml
verda

# ignore unhinted font files
dist/UdonMono/TTF-Unhinted/UdonMono-Bold.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-BoldItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-Condensed.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-CondensedBold.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-CondensedBoldItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-CondensedExtraLight.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-CondensedExtraLightItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-CondensedHeavy.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-CondensedHeavyItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-CondensedItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-CondensedLight.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-CondensedLightItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-CondensedMedium.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-CondensedMediumItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-CondensedThin.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-CondensedThinItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-Extended.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-ExtendedBold.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-ExtendedBoldItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-ExtendedExtraLight.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-ExtendedExtraLightItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-ExtendedHeavy.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-ExtendedHeavyItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-ExtendedItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-ExtendedLight.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-ExtendedLightItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-ExtendedMedium.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-ExtendedMediumItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-ExtendedThin.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-ExtendedThinItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-ExtraLight.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-ExtraLightItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-Heavy.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-HeavyItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-Italic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-Light.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-LightItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-Medium.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-MediumItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-Regular.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-SemiExtended.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-SemiExtendedBold.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-SemiExtendedBoldItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-SemiExtendedExtraLight.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-SemiExtendedExtraLightItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-SemiExtendedHeavy.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-SemiExtendedHeavyItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-SemiExtendedItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-SemiExtendedLight.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-SemiExtendedLightItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-SemiExtendedMedium.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-SemiExtendedMediumItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-SemiExtendedThin.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-SemiExtendedThinItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-Thin.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-ThinItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-UltraExtended.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-UltraExtendedBold.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-UltraExtendedBoldItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-UltraExtendedExtraLight.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-UltraExtendedExtraLightItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-UltraExtendedHeavy.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-UltraExtendedHeavyItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-UltraExtendedItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-UltraExtendedLight.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-UltraExtendedLightItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-UltraExtendedMedium.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-UltraExtendedMediumItalic.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-UltraExtendedThin.ttf
dist/UdonMono/TTF-Unhinted/UdonMono-UltraExtendedThinItalic.ttf
