# ignoring a lot of file types and directories to not duplicate the original Iosevka repository
*.mjs
*.ptl
*.svg
*.json
*.DS_Store

/.build
/changes
/doc
/docker
/font-src
/images
/node_modules
/packages
/params
/sample-text
/tools
/utility
/dist/UdonMono/TTF-Unhinted/
/dist/UdonMono/WOFF2-Unhinted/
/dist/UdonGrotesk/WOFF2-Unhinted/
/dist/UdonGrotesk/TTF-Unhinted/

build-plans.toml
CHANGELOG.md
iosevka@27.3.5
private-build-plans.sample.toml
verda
UdonMono-Unhinted.css
/asset-originals