# ignoring a lot of file types and directories to not duplicate the original Iosevka repository
*.mjs
*.ptl
*.svg
*.json
*.DS_Store

/.build
/changes
/doc
/font-src
/images
/node_modules
/packages
/params
/sample-text
/tools
/utility
/dist/TTF-Unhinted

build-plans.toml
CHANGELOG.md
iosevka@27.3.5
private-build-plans.sample.toml
verda

